<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/path/to/your/custom/styles.css"> <!-- Tambahkan link ke file CSS kustom Anda -->
   
   <!-- My CSS -->
 <link rel="stylesheet" href="css/styles.css"/>
   
    <title>Centered Content</title>
</head>
<body>
    <%- include('nav') %>
    
    <div className="container"> <!-- Perbaikan: Mengubah class menjadi className -->
        <%- body %>
    </div>
</body>
</html>
